Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

install:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

install:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: install
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

lint:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd server
  - npm run lint

lint:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd mobile
  ...

build:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/dist/

build:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

build:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: build
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

test:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - build:webclient
  artifacts:
    paths:
  ...

test:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  script:
  - cd server
  - npm run test
  dependencies:
  - build:server
  artifacts:
    paths:
    - server/coverage/

enlever console log
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Le nombre de joueur qui attendent est dynamique. l'hote peut annuler une partie
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

lint
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip lobby socket handling
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

receive JSONArray
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

add lobbyScreen
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-116 Afficher les informations de la partie (letterBag + Timer)
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

formatting
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

Update LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
Due: install:mobile, lint:mobile, build:mobile

begin PendingGamesView
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-115 Afficher les informations des joueurs de la partie
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

add SerializedName to enums
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

Modification des paramètres de comptes (Client Lourd)
  client/src/app/app.module.ts
  client/src/app/components/header-bar/header-bar.component.html
  client/src/app/components/header-bar/header-bar.component.scss
  client/src/app/components/header-bar/header-bar.component.spec.ts
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/account/account-page/account-page.component.html
  client/src/app/pages/account/account-page/account-page.component.scss
  client/src/app/pages/account/account-page/account-page.component.spec.ts
  client/src/app/pages/account/account-page/account-page.component.ts
  client/src/app/pages/account/avatar-list/avatar-list.component.html
  client/src/app/pages/account/avatar-list/avatar-list.component.scss
  client/src/app/pages/account/avatar-list/avatar-list.component.spec.ts
  client/src/app/pages/account/avatar-list/avatar-list.component.ts
  client/src/app/pages/account/avatar/avatar.component.html
  client/src/app/pages/account/avatar/avatar.component.scss
  client/src/app/pages/account/avatar/avatar.component.spec.ts
  client/src/app/pages/account/avatar/avatar.component.ts
  client/src/app/pages/register-page/register-page.component.html
  client/src/app/pages/register-page/register-page.component.ts
  client/src/app/pages/register-page/user-creation.interface.ts
  client/src/app/pages/register-page/user.interface.ts
  client/src/app/services/account.service.ts
  client/src/assets/img/avatar/elephant.png
  client/src/assets/img/avatar/fox.png
  client/src/assets/img/avatar/hippopotamus.png
  client/src/assets/img/avatar/koala.png
  client/src/assets/img/avatar/lynx.png
  client/src/assets/img/avatar/polarbear.png
  client/src/assets/img/avatar/stag.png
  client/src/styles.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/AccountViewmodel.kt
  server/app/account/account.controller.ts
  server/app/auth/controllers/auth.controller.ts
  server/app/user/interfaces/user-creation.interface.ts
  server/app/user/interfaces/user.interface.ts
  server/app/user/user-query.interface.ts
  server/app/user/user.service.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

grid view for pending games + selectable
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

Apply 1 suggestion(s) to 1 file(s)
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
Due: install:mobile, lint:mobile, build:mobile

Apply 1 suggestion(s) to 1 file(s)
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
Due: install:mobile, lint:mobile, build:mobile

fix de quelques tests
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/game-logic/game/game-info/game-info.service.spec.ts
  client/src/app/game-logic/game/games/game-creator/game-creator.service.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
  client/src/app/pages/game-page/player-info/player-info.component.spec.ts
  client/src/app/socket-handler/game-socket-handler/game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

petit changement
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/game-logic/game/games/online-game/online-game.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

plua de fichiers de tests fixés
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/game-logic/game/game-info/game-info.service.spec.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

fix de tout les tests clients
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/game-logic/game/games/game-creator/game-creator.service.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-124 Afficher le shadow des lettres en déplacement
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-122 Retirer les lettres du chevalet après un déplacer glisser
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

mis a jour des parametres de tests
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/game/game-socket-handler/game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Fix, gameSettings stayed the same after deleting game
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/server.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Ne peux plus rejoindre une partie supprimé
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Update new-game-page.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

supprimé code mort
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix + test Fix
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

generic socket handler methods (for future gameSocketHandler)
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

added JVM comment
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

using generic socket handler
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

Update SocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

Feat. Waiting room + Kick + Misc fix Private game + somewhat fix tests
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Salle d'attente fonctionnelle
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/constants.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Feat. Password locking for games
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Fix some tests + lint
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Multi-channel message server & conversation api
  server/app/app.ts
  server/app/auth/controllers/auth.controller.ts
  server/app/common/interfaces/pagination.interface.ts
  server/app/common/utils.ts
  server/app/constants.ts
  server/app/database/database.service.ts
  server/app/messages-service/chat-user.interface.ts
  server/app/messages-service/controllers/conversation.controller.ts
  server/app/messages-service/interfaces/conversation.interface.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.spec.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.ts
  server/app/messages-service/message.interface.ts
  server/app/messages-service/room/room-factory.service.ts
  server/app/messages-service/room/room.spec.ts
  server/app/messages-service/room/room.ts
  server/app/messages-service/services/conversation-crud-error.ts
  server/app/messages-service/services/conversation-join-leave-error.ts
  server/app/messages-service/services/conversation-queries.ts
  server/app/messages-service/services/conversation.service.ts
  server/app/messages-service/services/messages-service.ts
  server/app/messages-service/system-message.interface.ts
  server/app/server.ts
Due: install:server, lint:server, build:server, test:server

Magic card place random bonus
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-place-bonus.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/game-logic/game/games/online-game/online-game.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-place-bonus.ts
  server/app/game/game-logic/board/board-constants.ts
  server/app/game/game-logic/board/board.spec.ts
  server/app/game/game-logic/board/board.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Remove dead code
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*
