Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

UI client join pending game et fix crash partie publique
  client/src/app/components/modals/pending-games/pending-games.component.html
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

lint
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-171 LetterRack not updated correctly
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
Due: install:mobile, lint:mobile, build:mobile

Chat est intégré dans la boite
  client/package.json
  client/src/app/app.module.ts
  client/src/app/components/integrated-chat/integrated-chat.component.html
  client/src/app/components/integrated-chat/integrated-chat.component.scss
  client/src/app/components/integrated-chat/integrated-chat.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Refactor kick to use error modal + ui ai nbr + start fix text
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix word validation server
  server/app/game/game-logic/validator/word-search/word-searcher.service.ts
Due: install:server, lint:server, build:server, test:server

Game chat webclient
  client/src/app/chat/components/chat-box/chat-box.component.spec.ts
  client/src/app/chat/components/chat-box/chat-box.component.ts
  client/src/app/chat/components/conversation-picker/conversation-picker.component.ts
  client/src/app/chat/constants.ts
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/chat/services/online-chat-handler/online-chat-handler.service.ts
  client/src/app/chat/utils.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  server/app/common/utils.ts
  server/app/database/database.service.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/messages-service/controllers/conversation.controller.ts
  server/app/messages-service/interfaces/conversation.interface.ts
  server/app/messages-service/room/room.ts
  server/app/messages-service/services/conversation-crud-error.ts
  server/app/messages-service/services/conversation.service.ts
  server/app/messages-service/utils.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-127 Jouer un Placement de lettres + GL3A22107-128 Jouer un Échange de lettres
  client/src/app/game-logic/actions/action-creator/action-creator.service.spec.ts
  client/src/app/game-logic/actions/action-creator/action-creator.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/BoardCrawler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/TileCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
  mobile/app/src/test/java/com/example/polyscrabbleclient/BoardCrawlerTest.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

GL3A22107-186 Fix word placement
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-place.ts
  client/src/app/game-logic/constants.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-197 : fix bot difficulty
  server/app/game/game-creator/game-creator.ts
  server/app/game/game-logic/actions/exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-split-points.spec.ts
  server/app/game/game-logic/actions/pass-turn.spec.ts
  server/app/game/game-logic/actions/place-letter.spec.ts
  server/app/game/game-logic/game/magic-server-game.spec.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.spec.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/game-logic/point-calculator/mock-game.ts
  server/app/game/game-logic/point-calculator/point-calculator.service.spec.ts
  server/app/game/game-manager/game-manager.services.ts
Due: install:server, lint:server, build:server, test:server

test
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
Due: install:server, lint:server, build:server, test:server

Fix test
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix cookies android
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-195 Abandonner une partie
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Refactor getObservableGames
  server/app/new-game/new-game-manager/new-game-manager.service.ts
Due: install:server, lint:server, build:server, test:server

remove duplicate app module
  client/src/app/app.module.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

New fix for word placement
  client/src/app/game-logic/actions/ui-actions/ui-place.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Code review and refactor server logic and fix client leger
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Private and public games
  client/src/app/app.module.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.html
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/game-logic/constants.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  server/app/constants.ts
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-logic/constants.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Fix action message webclient
  client/src/app/chat/interfaces/message.interface.ts
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.spec.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/chat/services/online-chat-handler/online-chat-handler.service.spec.ts
  client/src/app/chat/services/online-chat-handler/online-chat-handler.service.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.spec.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.ts
  server/app/messages-service/system-message.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Persistent action notification game convo
  client/src/app/chat/constants.ts
  client/src/app/chat/services/message-factory/message-factory.service.ts
  server/app/constants.ts
  server/app/database/database.service.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.spec.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.ts
  server/app/messages-service/room/room.ts
  server/app/messages-service/system-messages-service/system-messages.service.ts
  server/app/user/user.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Error handling convo creation webclient
  client/src/app/chat/components/create-conversation/create-conversation.component.html
  client/src/app/chat/components/create-conversation/create-conversation.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Resolve GL3A22107-187 "End game is not valid for n 2 player"
  client/src/app/chat/components/message/message.component.ts
  client/src/app/components/modals/winner-dialog/winner-dialog.component.html
  client/src/app/components/modals/winner-dialog/winner-dialog.component.spec.ts
  client/src/app/components/modals/winner-dialog/winner-dialog.component.ts
  server/app/game/game-compiler/game-compiler.service.spec.ts
  server/app/game/game-compiler/game-compiler.service.ts
  server/app/game/game-logic/game/server-game.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-196 Afficher les joueurs en attente + GL3A22107-202 Être informé lorsque l'hôte quitte la partie + GL3A22107-203 Lancer une partie créée
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/domain/ModalActions.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/HostQuitGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Spinner.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-216 Afficher le texte des bonus du plateau
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-221 Retirer placement aléatoire
  client/src/app/components/modals/pending-games/pending-games.component.html
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Mobile magic card
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/MagicCardsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
Due: install:mobile, lint:mobile, build:mobile

Fix bot difficulty in client
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix placement behavior
  client/src/app/game-logic/actions/ui-actions/ui-place.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Resolves GL3A22107-207 : User stats for android
  mobile/app/build.gradle
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AvatarList.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ConnectionLog.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserStatistics.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/AccountPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ConnectionLog.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ConnectionLogResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/Pagination.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/Account.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/AccountApi.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/AccountRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/AccountViewmodel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/StatisticsViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/headerbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  server/app/account/account.controller.ts
  server/app/account/user-log/user-log.service.ts
Due: install:server, install:mobile, lint:server, lint:mobile, build:server, build:mobile, test:server

Conversation deletion webclient
  client/src/app/app.module.ts
  client/src/app/chat/components/conversation-picker/conversation-picker.component.html
  client/src/app/chat/components/conversation-picker/conversation-picker.component.spec.ts
  client/src/app/chat/components/conversation-picker/conversation-picker.component.ts
  client/src/app/chat/components/delete-conversation/delete-conversation.component.html
  client/src/app/chat/components/delete-conversation/delete-conversation.component.scss
  client/src/app/chat/components/delete-conversation/delete-conversation.component.ts
  client/src/app/chat/components/join-conversation/join-conversation.component.html
  client/src/app/chat/components/join-conversation/join-conversation.component.scss
  client/src/app/chat/components/join-conversation/join-conversation.component.ts
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/chat/services/online-chat-handler/online-chat-handler.service.ts
  server/app/database/database.service.ts
  server/app/messages-service/controllers/conversation.controller.ts
  server/app/messages-service/interfaces/conversation.interface.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.spec.ts
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.ts
  server/app/messages-service/services/conversation-crud-error.ts
  server/app/messages-service/services/conversation.service.ts
  server/app/server.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-217 Afficher la fin de partie et les gagnants
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/EndOfGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-220 Pouvoir jouer plusieurs partie d'affilés
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/Repository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

Mobile magic card configurable
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

alt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/Multipliers.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-223 PendingGames causes systematic crash on initialisation
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

FIX Auth validation NOT_AUTH error android
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
Due: install:mobile, lint:mobile, build:mobile
