Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

install:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

install:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: install
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

lint:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd server
  - npm run lint

lint:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd mobile
  ...

build:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/dist/

build:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

build:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: build
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

test:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - build:webclient
  artifacts:
    paths:
  ...

test:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  script:
  - cd server
  - npm run test
  dependencies:
  - build:server
  artifacts:
    paths:
    - server/coverage/

Apply 1 suggestion(s) to 1 file(s)
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-156 Drag-and-drop broken
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
Due: install:mobile, lint:mobile, build:mobile

Magic Card extra Turn
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-extra-turn.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-extra-turn.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Apply 1 suggestion(s) to 1 file(s)
  server/app/new-game/new-game-manager/new-game-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Apply 1 suggestion(s) to 1 file(s)
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

refactoristaion
  client/src/app/pages/new-game-page/new-game-page.component.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

refactor
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

refactor mettre les joueurs en ordre
  client/src/app/pages/game-page/player-info/player-info.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

rerefactor de l'ordre des joueurs
  client/src/app/pages/game-page/player-info/player-info.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix avatar not loading
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/pages/account/account-page/account-page.component.ts
  client/src/app/pages/account/avatar/avatar.component.ts
  client/src/assets/img/avatar/default.png
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Refactor
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/game-logic/game/games/game-creator/game-creation-params.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

plus d'erreur
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

EmitGameEvent.JoinGame new behavior (remove userauth and only send gameToken)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
Due: install:mobile, lint:mobile, build:mobile

using proper usernam for game
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Magic card reduce time
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-reduce-timer.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-reduce-timer.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/game-logic/timer/timer.service.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix avatar display when slow server response
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  mobile/app/src/main/res/drawable-nodpi/avatardefault.png
Due: install:mobile, lint:mobile, build:mobile

formulaire pour la difficulté du bot
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Resolve GL3A22107-32 "Pouvoir créer une partie et joueur la partie à n joueurs"
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/game-logic/constants.ts
  client/src/app/game-logic/game/game-info/game-info.service.spec.ts
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/game-logic/game/games/game-creator/game-creation-params.ts
  client/src/app/game-logic/game/games/game-creator/game-creator.service.spec.ts
  client/src/app/game-logic/game/games/game-creator/game-creator.service.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/game-logic/game/games/magic-game/magic-game.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
  client/src/app/game-logic/game/games/online-game/online-game.ts
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.spec.ts
  client/src/app/pages/game-page/player-info/player-info.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/game-socket-handler/game-socket-handler.service.spec.ts
  client/src/app/socket-handler/game-socket-handler/game-socket-handler.service.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/game/game-compiler/game-compiler.service.ts
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/game/game-socket-handler/game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/server.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix error display
  client/src/app/pages/account/account-page/account-page.component.scss
  client/src/app/pages/account/avatar-list/avatar-list.component.scss
  client/src/app/pages/register-page/register-page.component.html
  client/src/app/pages/register-page/register-page.component.scss
  client/src/app/pages/register-page/register-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-137 Rejoindre une partie en attente + GL3A22107-117 Se connecter à une partie et visualiser le déroulement
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/LetterCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/TileCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

refactor gameToken
  server/app/constants.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

lint
  server/app/new-game/new-game-manager/new-game-manager.service.ts
Due: install:server, lint:server, build:server, test:server

Refactor gametoken
  server/app/constants.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/package-lock.json
  server/package.json
Due: install:server, lint:server, build:server, test:server

GL3A22107-158 Visualiser les boutons d'actions + GL3A22107-126 Jouer un Passe-tour
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/Multipliers.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/TileCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Prototype clavardage intégré
  client/src/app/app.module.ts
  client/src/app/components/integrated-chat/integrated-chat.component.html
  client/src/app/components/integrated-chat/integrated-chat.component.scss
  client/src/app/components/integrated-chat/integrated-chat.component.spec.ts
  client/src/app/components/integrated-chat/integrated-chat.component.ts
  client/src/app/pages/homepage/homepage.component.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip refactor
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Fix ui boutton
  client/src/app/app.module.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

re ui button
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Resolves GL3A22107-157-Create-game-android
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

improve UX for magic Card
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.scss
  server/app/game/game-logic/actions/magic-card/magic-card-split-points.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

gameStatus un const
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/game-logic/constants.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  server/app/game/game-logic/constants.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Fix android game form with socket late init
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

fix
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
Due: install:mobile, lint:mobile, build:mobile

fix cookie electron
  client/main.js
Due: install:webclient, lint:webclient, build:webclient, test:webclient

meilleur vue de la fenêtre de chat
  client/src/app/components/integrated-chat/integrated-chat.component.scss
  client/src/app/components/integrated-chat/integrated-chat.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Rework observable game + fix bug affichage
  client/src/app/components/modals/pending-games/pending-games.component.html
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Fix bug client leave while in waiting room
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*
