Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

move into NewGameVisibilitySettings
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-268 Visibilité joueur actif client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ReplayGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/PlayerInfoViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/model/UserDTO.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
Due: install:mobile, lint:mobile, build:mobile

Resolves GL3A22107-306: Add avatar to pending game + Resolves GL3A22107-306...
  client/src/app/app.module.ts
  client/src/app/components/header-bar/header-bar.component.html
  client/src/app/components/header-bar/header-bar.component.scss
  client/src/app/components/header-bar/header-bar.component.spec.ts
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/components/modals/error-dialog/error-dialog.component.html
  client/src/app/components/modals/error-dialog/error-dialog.component.spec.ts
  client/src/app/components/modals/error-dialog/error-dialog.component.ts
  client/src/app/components/modals/loading-game/loading-game.component.html
  client/src/app/components/modals/lobby-games/lobby-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  client/src/app/modules/app-routing.module.ts
  client/src/app/pages/new-game-page/new-game-page.component.scss
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/game/game-creator/game-creator.ts
  server/app/game/game-logic/player/bot-player.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/server.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Resolves GL3A22107-319 Add Game chat in android (Account + waiting room)
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/NewInvitationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/HeaderbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/viewmodels/DisconnectViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Fix chat in home screen
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

update kick/accept/refuse events
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

import kick/accept/refuse events
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
Due: install:mobile, lint:mobile, build:mobile

wip kick players
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

kick player in lobby
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

refactor
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

wip accept/refuse player view
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/TitleView.kt
Due: install:mobile, lint:mobile, build:mobile

accept/refuse players (layout needs to be fixed)
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

lazy load candidate players
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

proper layout
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

update height for full lobby
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

wip enter password in protected game
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/EnterPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-317 Mise à jour du thème client lourd
  client/src/app/account/components/game-history/replay-players/replay-players.component.scss
  client/src/app/chat/components/message/message.component.html
  client/src/app/chat/components/message/message.component.scss
  client/src/app/components/header-bar/header-bar.component.html
  client/src/app/components/header-bar/header-bar.component.scss
  client/src/app/components/modals/alert-dialog/alert-dialog.component.scss
  client/src/app/components/modals/lobby-games/lobby-games.component.scss
  client/src/app/components/theme-selector/theme-selector.component.scss
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.html
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.scss
  client/src/app/pages/account-page/account-page.component.html
  client/src/app/pages/account-page/account-page.component.scss
  client/src/app/pages/game-page/board/board.component.html
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/horse/horse.component.scss
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/register-page/register-page.component.scss
  client/src/app/services/theme/theme.service.ts
  client/src/app/users/components/user-search/user-search.component.scss
  client/src/styles.scss
  client/src/themes/dark-theme.scss
  client/src/themes/light-theme.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Update server.ts
  server/app/server.ts
Due: install:server, lint:server, build:server, test:server

fix test pipeline
  client/src/app/leaderboard/leaderboard.service.spec.ts
  server/app/database/database.service.spec.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix test
  server/app/database/leaderboard-service/leaderboard.service.spec.ts
Due: install:server, lint:server, build:server, test:server

karma
  client/karma.conf.js
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip enter passwrd
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/EnterPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Fix avatar
  mobile/app/src/main/java/com/example/polyscrabbleclient/WidgetProvider.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AvatarList.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/res/values/strings.xml
Due: install:mobile, lint:mobile, build:mobile

join game with password
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/NewInvitationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForHostView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingRoomView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingRoomViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, install:mobile, lint:server, lint:mobile, build:server, build:mobile, test:server

iconButton
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

isPlayerInLobby for when user is game creator
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingRoomView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingRoomViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Syncronisation mobile
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

prevent endline on password game creation
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
Due: install:mobile, lint:mobile, build:mobile

Mobile audio
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/EndOfGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/MagicCardsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/audio/AudioPlayer.kt
  mobile/app/src/main/res/raw/alarm_clock.mp3
  mobile/app/src/main/res/raw/correct.mp3
  mobile/app/src/main/res/raw/exchange.wav
  mobile/app/src/main/res/raw/incorrect.mp3
  mobile/app/src/main/res/raw/lose.wav
  mobile/app/src/main/res/raw/magic.mp3
  mobile/app/src/main/res/raw/start_turn.mp3
  mobile/app/src/main/res/raw/win.wav
Due: install:mobile, lint:mobile, build:mobile

fix view card in waiting for host response
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

fix observer flow
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
Due: install:mobile, lint:mobile, build:mobile

Update GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

wip player removed from game (refused/kicked) modal handling
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/RemovedFromGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingRoomView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingRoomViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, install:mobile, lint:server, lint:mobile, build:server, build:mobile, test:server

proper client receives refuse/kick events
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

bad password handling
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/BadPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Fix xp modal showing up for observer on end game
  client/src/app/components/modals/winner-dialog/winner-dialog.component.html
  client/src/app/components/modals/winner-dialog/winner-dialog.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix pipeline
  .gitlab-ci.yml
Due: none

remove player from gameMap if refused/kicked
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

bad password can be catched 2+ times
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/EnterPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile
