Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

install:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

install:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: install
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

lint:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd server
  - npm run lint

lint:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: lint
  allow_failure: true
  script:
  - cd mobile
  ...

build:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: build
  script:
  - cd client
  - npm run build
  artifacts:
    paths:
    - client/dist/

build:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: build
  script:
  - cd server
  - npm run build
  artifacts:
    paths:
    - server/out/

build:mobile:
  image: openjdk:11-jdk
  variables:
    ANDROID_COMPILE_SDK: '32'
    ANDROID_BUILD_TOOLS: 30.0.3
    ANDROID_SDK_TOOLS: '7583922'
  cache:
    key: ${CI_COMMIT_REF_SLUG}-mobile
    paths:
    - mobile/.gradle/
    policy: pull
  stage: build
  script:
  - cd mobile
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  ...

test:webclient:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - build:webclient
  artifacts:
    paths:
  ...

test:server:
  image: node:18
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  script:
  - cd server
  - npm run test
  dependencies:
  - build:server
  artifacts:
    paths:
    - server/coverage/

center board
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
Due: install:mobile, lint:mobile, build:mobile

gamescreen layout
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
Due: install:mobile, lint:mobile, build:mobile

wip game infos
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

layout game infos
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
Due: install:mobile, lint:mobile, build:mobile

layout + added delayed timer countdown
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

player info view
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

testable active player index and points
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
Due: install:mobile, lint:mobile, build:mobile

remove letter from letterRack on drop
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

prevent dopping letters on non-null tiles
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

explicit magic numbers for canvas board view
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/Multipliers.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
Due: install:mobile, lint:mobile, build:mobile

removed println's
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
Due: install:mobile, lint:mobile, build:mobile

Resolve GL3A22107-87 "Refactor android form"
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/AppSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/FormInputs.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/LoginScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/SignUpScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/AuthError.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/AuthLoginSate.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/LoginSate.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/SignupState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/serverResponse/LoginResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/serverResponse/SignupResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/viewmodel/AuthValidation.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/viewmodel/LoginViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/viewmodel/SignUpViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Magic card draw cards
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-letter.ts
  server/app/game/game-logic/actions/magic-card/magic-card-split-points.ts
  server/app/game/game-logic/actions/magic-card/magic-card.ts
  server/app/game/game-logic/actions/place-letter.ts
  server/app/game/game-logic/game/magic-server-game.spec.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
Due: install:server, lint:server, build:server, test:server

Apply 1 suggestion(s) to 1 file(s)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Visibility of private and public games for clients
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

wip response request to game socket
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameState.kt
Due: install:mobile, lint:mobile, build:mobile

formatRequest correclty for backend
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

internal content type support
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameState.kt
Due: install:mobile, lint:mobile, build:mobile

UI creer , rejoindre partie et attendre partie
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

constante n joueur
  client/src/app/game-logic/constants.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

created GameRepository
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GameRepository holds Game/Board
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Login & Register Empty Field Errors
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/register-page/register-page.component.html
  client/src/app/pages/register-page/register-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-113 Afficher les lettres placées sur le plateau de jeu + GL3A22107-114 Déplacer-glisser des lettres sur le plateau de jeu
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/Multipliers.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
Due: install:mobile, lint:mobile, build:mobile

Apply 1 suggestion(s) to 1 file(s)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
Due: install:mobile, lint:mobile, build:mobile

missing import
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
Due: install:mobile, lint:mobile, build:mobile

connection de X joueurs au serveur
  client/src/app/socket-handler/game-socket-handler/game-socket-handler.service.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/game/game-socket-handler/game-socket-handler.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/server.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

tout les joueurs sont en game
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/game-logic/game/games/game-creator/game-creation-params.ts
  client/src/app/game-logic/game/games/game-creator/game-creator.service.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  client/src/app/game-logic/game/games/magic-game/magic-game.ts
  client/src/app/game-logic/game/games/online-game/online-game.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  server/app/game/game-compiler/game-compiler.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Delete LetterCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/LetterCreator.kt
Due: install:mobile, lint:mobile, build:mobile

tilecreator object singleton
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/TileCreator.kt
Due: install:mobile, lint:mobile, build:mobile

Update LetterRackViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

move and update game state values
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Magic card configurable
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.spec.ts
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/game-logic/utils.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.spec.ts
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-creator/game-creator.ts
  server/app/game/game-logic/game/magic-server-game.spec.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/utils.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

partially updates players and activeplayerindex
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

wip get user name
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
Due: install:mobile, lint:mobile, build:mobile

move remainingTimeFraction in viewModel
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

letterRack updates
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

L'utilisateur est en haut de la lsite
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.ts
  server/app/game/game-compiler/game-compiler.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

chaque utilisateur est le premier de sa liste
  client/src/app/pages/game-page/player-info/player-info.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Coté client peut limiter à 4 joueur. Serveur comble avec les bots
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/game-logic/game/games/game-settings.interface.ts
  client/src/app/pages/game-page/player-info/player-info.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*
