Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

Update board color
  client/src/app/pages/game-page/board/canvas-colors.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

New color theme
  client/src/app/chat/components/message/message.component.scss
  client/src/app/components/header-bar/header-bar.component.html
  client/src/app/components/header-bar/header-bar.component.scss
  client/src/app/components/word-of-the-day/word-of-the-day.component.scss
  client/src/app/pages/game-page/player-info/player-info.component.scss
  client/src/themes/dark-theme.scss
  client/src/themes/light-theme.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/MessageCard.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/HeaderbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

GL3A22107-214 Client lourd et léger missmatch de validation email
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/register-page/register-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

fix
  server/app/user/services/user.service.ts
Due: install:server, lint:server, build:server, test:server

Resolve GL3A22107-347 "Uniformité tuiles client lourd"
  client/src/app/account/components/game-history/replay-players/replay-players.component.scss
  client/src/app/account/components/game-history/replay/replay.component.ts
  client/src/app/components/modals/joker-dialog/joker-dialog.component.scss
  client/src/app/components/word-of-the-day/word-of-the-day.component.scss
  client/src/app/pages/game-page/board/board.component.ts
  client/src/app/pages/game-page/board/canvas-drawer.spec.ts
  client/src/app/pages/game-page/board/canvas-drawer.ts
  client/src/app/pages/game-page/horse/horse.component.scss
  client/src/app/services/theme/theme.service.ts
  client/src/styles.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Changement UX
  client/src/app/pages/login-page/login-page.component.html
  client/src/app/pages/login-page/login-page.component.scss
  client/src/app/pages/login-page/login-page.component.ts
  client/src/app/pages/register-page/register-page.component.html
  client/src/app/pages/register-page/register-page.component.scss
  client/src/app/pages/register-page/register-page.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix tile border
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
Due: install:mobile, lint:mobile, build:mobile

fix crash
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/MessageRepository.kt
Due: install:mobile, lint:mobile, build:mobile

remove comments
  client/src/app/services/electron-ipc.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

remove comment
  client/src/app/services/electron-ipc.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

update padding
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
Due: install:mobile, lint:mobile, build:mobile

fix invite chat pop out
  server/app/auth/app-socket-handler.service.ts
Due: install:server, lint:server, build:server, test:server
