Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

Fix langue modal
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Affiche le nom de l'hôte lors de la création de la partie
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Magic card exchange horse
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-exchange-horse.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.scss
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-horse.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

add in client
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

add in server
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/online-action.interface.ts
Due: install:server, lint:server, build:server, test:server

lobby socket handler error message handling
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

Revert "add in server"
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/online-action.interface.ts
Due: install:server, lint:server, build:server, test:server

Revert "add in client"
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

updated events types for correct marshalling + join pending game button
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

server NewGameSocketHandler adaptation (to be removed)
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

temporary server fixes (waiting for !54)
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

move game events content
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
Due: install:mobile, lint:mobile, build:mobile

only OnlineGameSettings ( OnlineGameSettingsUI redundant)
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
Due: install:mobile, lint:mobile, build:mobile

merge OnlineGameSettingsUI and OnlineGameSettings
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

navigateToGameScreen on game started
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

receiveInitialGameSettings
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
Due: install:mobile, lint:mobile, build:mobile

GameRepo and GameSocket cleanup
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

adapt letter rack and drag shadow
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

time and remaining letters update wip
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

hook on offsetFromStartingPosition
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
Due: install:mobile, lint:mobile, build:mobile

Revert "hook on offsetFromStartingPosition"
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
Due: install:mobile, lint:mobile, build:mobile

Revert "Revert "hook on offsetFromStartingPosition""
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
Due: install:mobile, lint:mobile, build:mobile

remove delay (for timer/player infos)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
Due: install:mobile, lint:mobile, build:mobile

Add icon to android project
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/res/drawable/favicon.png
  mobile/app/src/main/res/values/strings.xml
Due: install:mobile, lint:mobile, build:mobile

Magic card exchange horse all
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-exchange-horse-all.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.scss
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-horse-all.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Add skip turn magic card
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  client/src/app/game-logic/actions/online-actions/online-action-compiler.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-logic/actions/action-compiler.service.ts
  server/app/game/game-logic/actions/magic-card/magic-card-constants.ts
  server/app/game/game-logic/actions/magic-card/magic-card-skip-next-turn.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

fix timer with updates
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

player letterack displayed
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

wip NextAction events data classes
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
Due: install:mobile, lint:mobile, build:mobile

game actions buttons
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

added helper functions (TODO)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

fix test
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
Due: install:server, lint:server, build:server, test:server

GL3A22107-135 Envoyer et Recevoir les évenements du lobby + GL3A22107-136 Afficher les parties en attente
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/LobbyViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

Fix de tests serveur
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Tout serveur tests fini
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
Due: install:server, lint:server, build:server, test:server

Tout passe
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Resolves GL3A22107-141 Page compte client Android
  client/src/app/pages/account/avatar-list/avatar-list.component.html
  client/src/app/pages/account/avatar-list/avatar-list.component.ts
  client/src/app/pages/account/avatar/avatar.component.html
  client/src/app/pages/account/avatar/avatar.component.ts
  mobile/app/build.gradle
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/Avatar.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AvatarList.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ServerResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/AccountViewmodel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/FormInputs.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/LoginScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/SignUpScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/LoginSate.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/SignupState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/serverResponse/SignupResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/viewmodel/LoginViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/viewmodel/SignUpViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatRoomScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/headerbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/httprequests/ScrabbleHttpClient.kt
  mobile/app/src/main/res/drawable-nodpi/fox.png
  mobile/app/src/main/res/drawable-nodpi/hippopotamus.png
  mobile/app/src/main/res/drawable-nodpi/koala.png
  mobile/app/src/main/res/drawable-nodpi/logowhite.png
  mobile/app/src/main/res/drawable-nodpi/panther.png
  mobile/app/src/main/res/drawable-nodpi/polarbear.png
  mobile/app/src/main/res/drawable-nodpi/stag.png
  mobile/app/src/main/res/drawable/elephant.png
  server/app/account/account.controller.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

pass turn on turn available
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

fix du modal de pending games qui ne ferme pas
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Apply 1 suggestion(s) to 1 file(s)
  client/src/app/pages/game-page/player-info/player-info.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient
