Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

update letterRack
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Apply 1 suggestion(s) to 1 file(s)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
Due: install:mobile, lint:mobile, build:mobile

minimize indentation
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
Due: install:mobile, lint:mobile, build:mobile

move GameInfoView to the right side
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
Due: install:mobile, lint:mobile, build:mobile

timer format update
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Integration chat android + improve ui
  mobile/app/src/main/java/com/example/polyscrabbleclient/ChatPageViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/ChatSocketHandlerService.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/Constants.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatBox.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ConversationPicker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/CreateConversationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/MessageCard.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/domain/ConversationsManager.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/model/Message.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/MessageRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/utils/MessageFactory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/utils/Utils.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/PhysicalButtons.kt
Due: install:mobile, lint:mobile, build:mobile

Push eye icon to the right in client lourd
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-263 Mode observateur client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionButton.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/MagicCardsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/ObserverActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayerActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/domain/ModalActions.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/TitleView.kt
Due: install:mobile, lint:mobile, build:mobile

wip private and password
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, install:mobile, lint:server, lint:mobile, build:server, build:mobile, test:server

GL3A22107-244 : Replay in android + abandon game in gameHistory
  client/src/app/account/components/game-history/game-history-page/game-history.component.html
  client/src/app/account/components/game-history/game-history-page/game-history.component.scss
  client/src/app/account/components/game-history/game-history-page/game-history.component.ts
  client/src/app/account/interfaces/game-history.interface.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ConnectionLog.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/GameHistory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ReplayGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserStatistics.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/AccountPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ConnectionLogResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/GameHistory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ReplayModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/ServerResponse.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/Account.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/AccountApi.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/AccountRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/source/PageSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/GamesHistoryViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/ReplayViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/StatisticsViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/HeaderbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Spinner.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
  server/app/account/account.controller.ts
  server/app/account/user-game-history/game-history.interface.ts
  server/app/account/user-game-history/game-history.service.ts
  server/app/game/game-manager/game-manager.services.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Fix chat open-close behaviour
  client/src/app/chat/components/conversation-picker/conversation-picker.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/homepage/homepage.component.html
  client/src/app/pages/homepage/homepage.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.html
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/services/pop-chat.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

fix-time-issue on revert
  server/app/game/game-logic/game/server-game.ts
Due: install:server, lint:server, build:server, test:server

syncronisation
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.spec.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-place.spec.ts
  client/src/app/game-logic/actions/ui-actions/ui-place.ts
  client/src/app/game-logic/game/board/board.ts
  client/src/app/game-logic/game/games/online-game/game-state.ts
  client/src/app/game-logic/game/games/online-game/online-game.ts
  client/src/app/game-logic/player/player.ts
  client/src/app/pages/game-page/board/board.component.spec.ts
  client/src/app/pages/game-page/board/canvas-drawer.ts
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/horse/horse.component.spec.ts
  client/src/app/socket-handler/game-socket-handler/game-socket-handler.service.ts
  client/src/app/socket-handler/interfaces/online-action.interface.ts
  server/app/game/game-compiler/game-compiler.service.spec.ts
  server/app/game/game-compiler/game-compiler.service.ts
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-creator/game-creator.ts
  server/app/game/game-logic/actions/exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-split-points.spec.ts
  server/app/game/game-logic/actions/pass-turn.spec.ts
  server/app/game/game-logic/actions/place-letter.spec.ts
  server/app/game/game-logic/game/magic-server-game.spec.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.spec.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/game-logic/interface/game-state.interface.ts
  server/app/game/game-logic/player/player.ts
  server/app/game/game-logic/point-calculator/mock-game.ts
  server/app/game/game-logic/point-calculator/point-calculator.service.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/game/game-socket-handler/game-socket-handler.service.ts
  server/app/game/online-action.interface.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-269 Icone pour les actions de jeu
  client/src/app/app.module.ts
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.html
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.scss
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/index.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix android validate session
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/AppSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/model/AuthError.kt
Due: install:mobile, lint:mobile, build:mobile

fix-warning
  client/src/app/users/components/user-search/user-search.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Hotfix ongoing game no update observable list
  server/app/game/game-manager/game-manager.services.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
Due: install:server, lint:server, build:server, test:server

GL3A22107-270 Icone pour les cartes magiques
  client/src/app/account/components/game-history/replay-players/replay-players.component.ts
  client/src/app/account/constants.ts
  client/src/app/game-logic/actions/magic-card/magic-card-constants.ts
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.html
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.scss
  client/src/app/game-logic/game/game-action-button/game-action-button/game-action-button.component.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/magic-cards/magic-card-list.component.scss
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.html
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.scss
  client/src/app/pages/game-page/magic-cards/magic-card/magic-card.component.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionButton.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/MagicCardsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Snack bar Android
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SnackBarInvoker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/viewmodels/SnackBarViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

remove bot http service code
  client/src/app/game-logic/game/games/game-manager/game-manager.service.spec.ts
  client/src/app/game-logic/player/player.spec.ts
  client/src/app/services/bot-http.service.spec.ts
  client/src/app/services/bot-http.service.ts
  client/src/app/services/bot-info.ts
  server/app/database/bot-info/bot-info.ts
  server/app/database/bot-info/default-bot-names.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Fix on Event socket handler can't receive String like object
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SnackBarInvoker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/viewmodels/SnackBarViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-290 Séparer partie en attente de parties observables
  client/src/app/app.module.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.html
  client/src/app/components/modals/lobby-games/lobby-games.component.scss
  client/src/app/components/modals/lobby-games/lobby-games.component.spec.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.html
  client/src/app/pages/new-game-page/new-game-page.component.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

GL3A22107-293 : Ajouter les avatars dans le waiting for other player
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.spec.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/users/services/user-cache.service.ts
  client/src/app/users/services/user.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

launch game when full
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:server, lint:server, build:server, test:server

Mobile : DEFAULT_PLAYER_NUMBER = MAX_PLAYER_NUMBER
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Desktop : DEFAULT_PLAYER_NUMBER = MAX_PLAYER_NUMBER
  client/src/app/game-logic/constants.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

game creator listen for game start
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

wip change lobby games id to index
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-296: Supprimer l'apparition du modal JoinGame
  client/src/app/components/modals/join-online-game/join-online-game.component.html
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.spec.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.spec.ts
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/pages/new-game-page/new-game-page.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Resolves GL3A22107-306: Add avatar to pending game + Resolves GL3A22107-306 Add avatar in Game + Replay game (Client lourd)
  client/src/app/account/components/game-history/replay-players/replay-players.component.html
  client/src/app/account/components/game-history/replay-players/replay-players.component.spec.ts
  client/src/app/account/components/game-history/replay-players/replay-players.component.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.html
  client/src/app/components/modals/lobby-games/lobby-games.component.scss
  client/src/app/components/modals/lobby-games/lobby-games.component.spec.ts
  client/src/app/components/modals/lobby-games/lobby-games.component.ts
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.scss
  client/src/app/pages/game-page/player-info/player-info.component.ts
  client/src/app/users/services/user-cache.service.ts
  server/app/user/controllers/user.controller.ts
  server/app/user/services/user.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Drag and drop
  client/main.js
  client/src/app/game-logic/actions/ui-actions/ui-action.ts
  client/src/app/game-logic/actions/ui-actions/ui-drag-and-drop.ts
  client/src/app/game-logic/actions/ui-actions/ui-exchange.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/game-logic/actions/ui-actions/ui-move.ts
  client/src/app/game-logic/game/board/board.service.ts
  client/src/app/game-logic/interfaces/ui-input.ts
  client/src/app/game-logic/utils.ts
  client/src/app/modules/material.module.ts
  client/src/app/pages/game-page/board/board.component.spec.ts
  client/src/app/pages/game-page/board/board.component.ts
  client/src/app/pages/game-page/board/canvas-drawer.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/game-page/horse/horse.component.html
  client/src/app/pages/game-page/horse/horse.component.scss
  client/src/app/pages/game-page/horse/horse.component.spec.ts
  client/src/app/pages/game-page/horse/horse.component.ts
  client/tsconfig.app.json
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-302 Joueur utilisateur en haut de la liste des joueurs (orderedPlayers)
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/ReplayViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

wip
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
Due: install:mobile, lint:mobile, build:mobile

Resolve GL3A22107-281 "Create game ux"
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.html
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.scss
  client/src/app/components/modals/new-online-game-form/new-online-game-form.component.ts
  client/src/app/game-logic/constants.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/AccountPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Resolve GL3A22107-316 "Add chat in account"
  client/src/app/account/components/game-history/game-history-page/game-history.component.html
  client/src/app/account/components/game-history/game-history-page/game-history.component.scss
  client/src/app/account/components/game-history/game-history-page/game-history.component.ts
  client/src/app/account/components/profil/profil.component.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/pages/account-page/account-page.component.html
  client/src/app/pages/account-page/account-page.component.scss
  client/src/app/pages/account-page/account-page.component.ts
  client/src/app/pages/homepage/homepage.component.scss
  client/src/app/pages/new-game-page/new-game-page.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

User invite android & Invite/pending game bugs fixes
  client/src/app/invitations/interfaces/invitation.interface.ts
  client/src/app/invitations/services/invitation.service.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  client/src/app/users/services/user.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/AppSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/components/InviteUserModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/components/NewInvitationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/components/NewInvitationView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/models/Invitation.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/models/InvitationAnswer.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/sources/ReceivedInvitationRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/sources/UserInviteRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/sources/UserSearchSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/utils/GameInviteBroker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/utils/InvitationFactory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/InviteUserViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/NewInvitationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

User status Android Webclient
  client/src/app/account/components/game-history/game-history-page/game-history.component.ts
  client/src/app/account/components/game-stats-page/game-stats-page.component.ts
  client/src/app/account/components/profil/profil.component.ts
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
  client/src/app/pages/account-page/account-page.component.ts
  client/src/app/pages/register-page/user.interface.ts
  client/src/app/users/components/user-search/user-search.component.html
  client/src/app/users/components/user-search/user-search.component.scss
  client/src/app/users/components/user-search/user-search.component.ts
  client/src/app/users/services/user.service.ts
  client/src/styles.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/components/InviteUserModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/sources/UserInviteRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/sources/UserSearchSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/InviteUserViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/model/UserDTO.kt
  server/app/auth/app-socket-handler.service.ts
  server/app/database/database.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/server.ts
  server/app/user/controllers/user.controller.ts
  server/app/user/interfaces/user-query.interface.ts
  server/app/user/interfaces/user.interface.ts
  server/app/user/services/user.service.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server
