Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

Fix invite chat & Observer chat
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/invitations/services/invitation.service.ts
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/socket-handler/game-launcher/game-laucher.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Cant DaD if Uiplace or not actif
  client/src/app/directives/click-and-clickout.directive.ts
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/pages/game-page/horse/horse.component.html
  client/src/app/pages/game-page/horse/horse.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix can't DaD if an obs
  client/src/app/pages/game-page/horse/horse.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

text in constants
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-262 Partie publique/privée client léger
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/socket-handler/new-online-game-socket-handler/new-online-game-socket-handler.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/invitations/viewmodels/NewInvitationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/CreateGameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/BadPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/EnterPasswordView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/RemovedFromGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForHostView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingRoomView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/CreateGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/NewGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingRoomViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/TitleView.kt
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

DaD joker
  client/src/app/app.module.ts
  client/src/app/components/modals/joker-dialog/joker-dialog.component.html
  client/src/app/components/modals/joker-dialog/joker-dialog.component.scss
  client/src/app/components/modals/joker-dialog/joker-dialog.component.spec.ts
  client/src/app/components/modals/joker-dialog/joker-dialog.component.ts
  client/src/app/game-logic/actions/ui-actions/ui-action.ts
  client/src/app/game-logic/actions/ui-actions/ui-drag-and-drop.ts
  client/src/app/game-logic/actions/ui-actions/ui-input-controller.service.ts
  client/src/app/game-logic/constants.ts
  client/src/app/game-logic/interfaces/ui-input.ts
  client/src/app/pages/game-page/board/board.component.ts
  client/src/app/pages/game-page/board/canvas-colors.ts
  client/src/app/pages/game-page/board/canvas-drawer.ts
  client/src/app/pages/game-page/horse/horse.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

remove comment
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
Due: install:mobile, lint:mobile, build:mobile

fix conversation creation name game
  server/app/constants.ts
  server/app/messages-service/services/conversation.service.ts
Due: install:server, lint:server, build:server, test:server

UX fix for place bonus
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
Due: install:mobile, lint:mobile, build:mobile

add convo forbiden name convo error webclient
  client/src/app/chat/components/create-conversation/create-conversation.component.html
  client/src/app/chat/components/create-conversation/create-conversation.component.ts
  client/src/app/chat/interfaces/conversation-creation-errors.enum.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

remove devTool of electron
  client/main.js
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-337 Bouton d'actions sur une seule ligne
  client/src/app/pages/game-page/game-page.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-336 Sortir de la conversation de partie après avoir quitté le lobby
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingRoomViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-332 Rejoindre une partie protégée en tant qu'observateur
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-331 Emplacement boutons d'actions uniformes
  client/src/app/pages/game-page/game-page.component.html
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix exp show 0.0
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
Due: install:mobile, lint:mobile, build:mobile

Fix popout gamechat
  client/main.js
  client/src/app/chat/components/conversation-picker/conversation-picker.component.html
  client/src/app/chat/components/conversation-picker/conversation-picker.component.ts
  client/src/app/chat/services/conversation/conversation.service.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/services/electron-ipc.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Resolve GL3A22107-310 "Bot names and avatars android"
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/GameHistory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ReplayGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/ReplayViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/PlayerInfoViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/HeaderbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/Utils.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
  mobile/app/src/main/res/drawable/easybotavatar1.png
  mobile/app/src/main/res/drawable/easybotavatar2.png
  mobile/app/src/main/res/drawable/easybotavatar3.png
  mobile/app/src/main/res/drawable/easybotavatar4.png
  mobile/app/src/main/res/drawable/easybotavatar5.png
  mobile/app/src/main/res/drawable/hardbotavatar1.png
  mobile/app/src/main/res/drawable/hardbotavatar2.png
  mobile/app/src/main/res/drawable/hardbotavatar3.png
  mobile/app/src/main/res/drawable/hardbotavatar4.png
  mobile/app/src/main/res/drawable/hardbotavatar5.png
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-339 L'hôte a quitté la partie affiche 2 fois client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-140 Compteur devrait indiquer lorsque le temps est presque écoulé
  client/src/app/pages/game-page/info-box/info-box.component.html
  client/src/app/pages/game-page/info-box/info-box.component.scss
  client/src/app/pages/game-page/info-box/info-box.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Mot du jour
  .vscode/settings.json
  client/src/app/app.module.ts
  client/src/app/components/word-of-the-day/word-of-the-day.component.html
  client/src/app/components/word-of-the-day/word-of-the-day.component.scss
  client/src/app/components/word-of-the-day/word-of-the-day.component.ts
  client/src/app/pages/homepage/homepage.component.html
  client/src/app/pages/homepage/homepage.component.scss
  client/src/app/pages/new-game-page/new-game-page.component.html
  client/src/app/socket-handler/interfaces/word-of-the-day.interface.ts
  server/app/app.ts
  server/app/word-of-the-day/interface/word-of-the-day.interface.ts
  server/app/word-of-the-day/list-of-words/list-of-words.json
  server/app/word-of-the-day/word-of-the-day-controller.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Mot du jour (mobile)
  client/src/app/components/word-of-the-day/word-of-the-day.component.scss
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Fix Observer join game chat android
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/domain/ConversationsManager.kt
Due: install:mobile, lint:mobile, build:mobile

feat convo-max-size webclient
  client/src/app/chat/components/create-conversation/create-conversation.component.html
  client/src/app/chat/components/create-conversation/create-conversation.component.ts
  client/src/app/chat/constants.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

fix
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

UI fix for names in android + desktop
  client/src/app/account/components/avatar-list/avatar-list.component.html
  client/src/app/account/components/game-history/game-history-page/game-history.component.scss
  client/src/app/account/components/game-history/replay-players/replay-players.component.html
  client/src/app/account/components/game-history/replay-players/replay-players.component.scss
  client/src/app/account/components/game-stats-page/game-stats-page.component.scss
  client/src/app/account/components/profil/profil.component.scss
  client/src/app/chat/components/conversation-picker/conversation-picker.component.html
  client/src/app/chat/components/conversation-picker/conversation-picker.component.scss
  client/src/app/components/modals/lobby-games/lobby-games.component.scss
  client/src/app/game-logic/constants.ts
  client/src/app/pages/account-page/account-page.component.scss
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.scss
  client/src/app/pages/register-page/register-page.component.scss
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.scss
  client/src/app/pages/waiting-for-other-players/waiting-for-other-players.component.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ReplayGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

add skip turn audio
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/audio/AudioPlayer.kt
  mobile/app/src/main/res/raw/skip_turn.wav
Due: install:mobile, lint:mobile, build:mobile

fix game-history
  client/src/app/account/components/game-history/game-history-page/game-history.component.ts
  client/src/app/account/interfaces/game-history.interface.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-342 Uniformité des champs du lobby
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

fix crash on delete convo
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-344 Observateur n'a pas de barre de progression du temps lors du premier tour rejoint (client lourd)
  client/src/app/game-logic/game/game-info/game-info.service.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  client/src/app/game-logic/game/games/magic-game/magic-game.ts
  client/src/app/game-logic/game/timer/timer.service.ts
  client/src/app/users/services/user-cache.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix name error display
  client/src/app/account/components/profil/profil.component.ts
  server/app/account/account.controller.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Invalidate user cache
  client/src/app/components/modals/lobby-games/lobby-games.component.spec.ts
  client/src/app/users/constans.ts
  client/src/app/users/services/user-cache.service.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

Fix freeze level progress past lvl 10
  client/src/app/account/constants.ts
  client/src/app/game-logic/utils.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

fix convo name length
  client/src/app/chat/components/delete-conversation/delete-conversation.component.scss
  client/src/app/chat/components/join-conversation/join-conversation.component.scss
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix chat when disconnecting + other bugs
  client/main.js
  client/src/app/chat/components/conversation-picker/conversation-picker.component.ts
  client/src/app/chat/services/messages/messages.service.ts
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/components/integrated-chat/integrated-chat.component.ts
  client/src/app/services/pop-chat.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-345 Shadow de tuile déplacée reste statique dans l'écran à la fin du tour
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-346 Peut échanger des lettres lorsque la réserve est presque vide
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/constants/Constants.kt
Due: install:mobile, lint:mobile, build:mobile

Fix convo list not updating when opening 2 times
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/DeleteConversationModal.kt
Due: install:mobile, lint:mobile, build:mobile

Fix Already in chat room when joining game chat
  server/app/messages-service/message-socket-handler/messages-socket-handler.service.ts
Due: install:server, lint:server, build:server, test:server
