Repository Darkforce689/Log3990: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

Path conditions:
  install:webclient: any of: client/**/*
  install:server: any of: server/**/*
  install:mobile: any of: mobile/**/*
  lint:webclient: any of: client/**/*
  lint:server: any of: server/**/*
  lint:mobile: any of: mobile/**/*
  build:webclient: any of: client/**/*
  build:server: any of: server/**/*
  build:mobile: any of: mobile/**/*
  test:webclient: any of: client/**/*
  test:server: any of: server/**/*

Better multiplier mobile
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/Multipliers.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
Due: install:mobile, lint:mobile, build:mobile

Android widget
  mobile/app/build.gradle
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/WidgetProvider.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserStatistics.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/User.kt
  mobile/app/src/main/res/drawable-v21/app_widget_background.xml
  mobile/app/src/main/res/drawable/app_widget_circle.xml
  mobile/app/src/main/res/layout/example_appwidget_preview.xml
  mobile/app/src/main/res/layout/example_loading_appwidget.xml
  mobile/app/src/main/res/values-night-v31/themes.xml
  mobile/app/src/main/res/values-v21/styles.xml
  mobile/app/src/main/res/values-v31/styles.xml
  mobile/app/src/main/res/values-v31/themes.xml
  mobile/app/src/main/res/values/attrs.xml
  mobile/app/src/main/res/values/colors.xml
  mobile/app/src/main/res/values/dimens.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/app/src/main/res/values/styles.xml
  mobile/app/src/main/res/values/themes.xml
  mobile/app/src/main/res/xml/app_widget_provider_info.xml
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-159 Pouvoir changer de thème sur client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/LoginScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/SignUpScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/HeaderbarView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/view/ThemeSelector.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/page/headerbar/viewmodels/ThemeSelectorViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Spinner.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/PageSurface.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-194 Jouer un joker
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/BoardCrawler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/domain/TileCreator.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/JokerModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/Player.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/EndOfGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/JokerSelectionView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/MagicCardsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/domain/ModalActions.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/HostQuitGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/WaitingForOtherPlayersView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Flex.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Fix Account UI android
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/ConnectionLog.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserStatistics.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/viewmodel/AccountViewmodel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/FormInputs.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/LoginScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/SignUpScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
Due: install:mobile, lint:mobile, build:mobile

Message history android
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/model/Pagination.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/Constants.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/SocketHandlerService.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatBox.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatRoomScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/MessageCard.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/model/BaseMessage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/model/Conversation.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/model/Message.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/MessageRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/MessageSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/utils/MessageFactory.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/UserRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/user/model/UserDTO.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/httprequests/ScrabbleHttpClient.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-233 Drag and drop broken PART 2
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-234 Empêcher de démarrer une partie si on est pas réellement dans une partie
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/WaitingForOtherPlayersViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

Resolve GL3A22107-226 "Game history"
  client/src/app/account/components/game-history/game-history.component.html
  client/src/app/account/components/game-history/game-history.component.scss
  client/src/app/account/components/game-history/game-history.component.spec.ts
  client/src/app/account/components/game-history/game-history.component.ts
  client/src/app/account/components/game-stats-page/game-stats-page.component.html
  client/src/app/account/components/game-stats-page/game-stats-page.component.ts
  client/src/app/account/components/profil/profil.component.ts
  client/src/app/account/interfaces/game-history.interface.ts
  client/src/app/app.module.ts
  client/src/app/components/header-bar/header-bar.component.ts
  client/src/app/game-logic/game/games/online-game/online-game.spec.ts
  client/src/app/pages/account-page/account-page.component.html
  client/src/app/pages/account-page/account-page.component.ts
  client/src/app/pages/register-page/user-creation.interface.ts
  client/src/app/pages/register-page/user.interface.ts
  server/app/account/account.controller.ts
  server/app/account/user-game-history/game-history.interface.ts
  server/app/account/user-game-history/game-history.service.ts
  server/app/database/database.service.ts
  server/app/game/game-creator/game-creator.spec.ts
  server/app/game/game-creator/game-creator.ts
  server/app/game/game-logic/actions/exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-letter.spec.ts
  server/app/game/game-logic/actions/magic-card/magic-card-split-points.spec.ts
  server/app/game/game-logic/actions/pass-turn.spec.ts
  server/app/game/game-logic/actions/place-letter.spec.ts
  server/app/game/game-logic/game/magic-server-game.spec.ts
  server/app/game/game-logic/game/magic-server-game.ts
  server/app/game/game-logic/game/server-game.spec.ts
  server/app/game/game-logic/game/server-game.ts
  server/app/game/game-logic/point-calculator/mock-game.ts
  server/app/game/game-logic/point-calculator/point-calculator.service.spec.ts
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.spec.ts
  server/app/user/interfaces/user.interface.ts
  server/app/user/user.service.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Multiconvo android
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/ChatSocketHandlerService.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatBox.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ConversationPicker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/domain/ConversationsManager.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/ConversationSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/MessageSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-112 Server crash on exchange letters
  server/app/game/game-logic/actions/exchange-letter.ts
  server/app/game/game-logic/actions/magic-card/magic-card-exchange-letter.ts
  server/app/game/game-logic/actions/place-letter.ts
Due: install:server, lint:server, build:server, test:server

GL3A22107-238 Retirer zoom police client lourd
  client/src/app/pages/game-page/board/board.component.html
  client/src/app/pages/game-page/board/board.component.scss
  client/src/app/pages/game-page/board/board.component.spec.ts
  client/src/app/pages/game-page/board/board.component.ts
  client/src/app/pages/game-page/board/canvas-drawer.spec.ts
  client/src/app/pages/game-page/board/canvas-drawer.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

GL3A22107-123 Déplacer glisser en sens inverse (plateau vers extérieur)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/BoardModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/TileModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/LetterRackView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragShadow.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DragState.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DroppableView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/BoardViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/LetterRackViewModel.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-236 Notifier le joueur qu'il est déconnecté du serveur
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameSocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameDisconnectedView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbySocketHandler.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/Repository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-219 Signaler l'abandon d'un joueur et le remplacement par un joueur virtuel
  client/src/app/pages/game-page/game-page.component.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  server/app/game/game-action-notifier/game-action-notifier.service.ts
  server/app/game/game-manager/game-manager.services.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

small fix for socket handling
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/SocketHandler.kt
Due: install:mobile, lint:mobile, build:mobile

FIX GL3A22107-231 Game chat non-fonctionnel on join
  client/src/app/chat/services/conversation/conversation.service.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Fix error display account
  client/src/app/account/components/profil/profil.component.scss
  server/app/account/account.controller.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

GL3A22107-249 Modal abandonner client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/QuitGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Leave & Create Conversation Android
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ChatBox.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ConversationPicker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/CreateConversationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/domain/ConversationsManager.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/ConversationSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/CreateConvoViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

Fix bot difficulty in android
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/createGame/CreateGameForm.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-239 Uniformité des backgrounds
  client/src/assets/img/home-bg.jpg
  mobile/app/src/main/java/com/example/polyscrabbleclient/NavigatorController.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/AccountView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/account/components/UserProfil.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/auth/components/FormInputs.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/TileView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Color.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Theme.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/PageSurface.kt
  mobile/app/src/main/res/drawable/classic_bg.webp
  mobile/app/src/main/res/drawable/game_bg.webp
  mobile/app/src/main/res/drawable/home_bg.webp
Due: install:webclient, install:mobile, lint:webclient, lint:mobile, build:webclient, build:mobile, test:webclient

GL3A22107-255 Back button présente le modal abandonner la partie
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/StartPage.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/PhysicalButtons.kt
Due: install:mobile, lint:mobile, build:mobile

Join & Delete conversation android
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/ConversationPicker.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/CreateConversationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/DeleteConversationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/components/JoinConversationModal.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/domain/ConversationsManager.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/ConversationRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/sources/ConversationSearchSource.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/ChatViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/DeleteConversationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/message/viewModel/JoinConversationViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-251 Largeur des modals client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/JokerSelectionView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/QuitGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-228 : Replay game
  client/src/app/account/components/game-history/game-history-page/game-history.component.html
  client/src/app/account/components/game-history/game-history-page/game-history.component.scss
  client/src/app/account/components/game-history/game-history-page/game-history.component.spec.ts
  client/src/app/account/components/game-history/game-history-page/game-history.component.ts
  client/src/app/account/components/game-history/replay-players/replay-players.component.html
  client/src/app/account/components/game-history/replay-players/replay-players.component.scss
  client/src/app/account/components/game-history/replay-players/replay-players.component.spec.ts
  client/src/app/account/components/game-history/replay-players/replay-players.component.ts
  client/src/app/account/components/game-history/replay/replay.component.html
  client/src/app/account/components/game-history/replay/replay.component.scss
  client/src/app/account/components/game-history/replay/replay.component.spec.ts
  client/src/app/account/components/game-history/replay/replay.component.ts
  client/src/app/account/components/game-stats-page/game-stats-page.component.scss
  client/src/app/account/components/profil/profil.component.spec.ts
  client/src/app/account/constants.ts
  client/src/app/account/interfaces/game-history.interface.ts
  client/src/app/app.module.ts
  client/src/app/game-logic/actions/ui-actions/ui-place.ts
  client/src/app/game-logic/constants.ts
  client/src/app/pages/account-page/account-page.component.html
  client/src/app/pages/account-page/account-page.component.spec.ts
  client/src/app/pages/game-page/board/board.component.scss
  client/src/app/pages/game-page/board/board.component.spec.ts
  server/app/account/account.controller.ts
  server/app/account/user-game-history/game-history.interface.ts
  server/app/account/user-game-history/game-history.service.ts
  server/app/game/game-manager/game-manager.services.ts
Due: install:webclient, install:server, lint:webclient, lint:server, build:webclient, build:server, test:webclient, test:server

Feat. Observateur client lourd
  client/src/app/components/modals/abandon-dialog/abandon-dialog.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.spec.ts
  client/src/app/components/modals/join-online-game/join-online-game.component.ts
  client/src/app/components/modals/pending-games/pending-games.component.html
  client/src/app/components/modals/pending-games/pending-games.component.ts
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.html
  client/src/app/components/modals/waiting-for-other-players/waiting-for-other-players.component.ts
  client/src/app/components/modals/winner-dialog/winner-dialog.component.spec.ts
  client/src/app/components/modals/winner-dialog/winner-dialog.component.ts
  client/src/app/game-logic/game/games/game-manager/game-manager.service.ts
  client/src/app/game-logic/game/games/online-game/online-game.ts
  client/src/app/pages/game-page/game-page.component.html
  client/src/app/pages/game-page/game-page.component.scss
  client/src/app/pages/game-page/game-page.component.spec.ts
  client/src/app/pages/game-page/game-page.component.ts
  client/src/app/pages/game-page/player-info/player-info.component.html
  client/src/app/pages/game-page/player-info/player-info.component.scss
  client/src/app/pages/game-page/player-info/player-info.component.spec.ts
  client/src/app/pages/game-page/player-info/player-info.component.ts
  client/src/app/socket-handler/interfaces/game-settings-multi.interface.ts
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  server/app/game/game-manager/game-manager.services.spec.ts
  server/app/game/game-manager/game-manager.services.ts
  server/app/game/game-socket-handler/game-socket-handler.service.spec.ts
  server/app/game/game-socket-handler/game-socket-handler.service.ts
  server/app/new-game/new-game-manager/new-game-manager.service.spec.ts
  server/app/new-game/new-game-manager/new-game-manager.service.ts
  server/app/new-game/new-game-socket-handler/new-game-socket-handler.ts
  server/app/new-game/online-game.interface.ts
Due: install:webclient, install:server, install:mobile, lint:webclient, lint:server, lint:mobile, build:webclient, build:server, build:mobile, test:webclient, test:server

fix undefined crash
  client/src/app/account/components/game-history/replay/replay.component.ts
Due: install:webclient, lint:webclient, build:webclient, test:webclient

Hitfix Oberserver modal and timer
  server/app/game/game-manager/game-manager.services.ts
Due: install:server, lint:server, build:server, test:server

Hotfix Oberserver modal and timer
  server/app/game/game-manager/game-manager.services.ts
Due: install:server, lint:server, build:server, test:server

GL3A22107-265 Drag and drop lent Client léger
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/BoardCanvasView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/draganddrop/DraggableView.kt
Due: install:mobile, lint:mobile, build:mobile

added watched player eye icon
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
Due: install:mobile, lint:mobile, build:mobile

wip observables games list views
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/model/LobbyModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEvents.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyEventsContent.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/sources/LobbyRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/JoinGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/ModalView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/NewGameView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGame.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/PendingGamesView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/viewmodels/JoinGameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/TitleView.kt
Due: install:mobile, lint:mobile, build:mobile

smaller table view height
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

removed redundant columnsWeights
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGame.kt
Due: install:mobile, lint:mobile, build:mobile

bold text only on header table cell
  mobile/app/src/main/java/com/example/polyscrabbleclient/utils/TitleView.kt
Due: install:mobile, lint:mobile, build:mobile

underline stroke after table header
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
Due: install:mobile, lint:mobile, build:mobile

GL3A22107-256 3.3.1. Notifications sur la tablette
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/polyscrabbleclient/MainActivity.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/notifications/NotificationReceiver.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/notifications/NotificationsEmitter.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

added observer actions buttons in game
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionButton.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameScreen.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/ObserverActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayerActionsView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/PlayersInfoView.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/domain/ModalActions.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/ui/theme/Text.kt
Due: install:mobile, lint:mobile, build:mobile

dynamic player/observer view (depending on gameSettings)
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/model/GameModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/sources/GameRepository.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/view/GameActionButton.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/game/viewmodels/GameViewModel.kt
  mobile/app/src/main/java/com/example/polyscrabbleclient/lobby/view/LobbyGamesView.kt
Due: install:mobile, lint:mobile, build:mobile
